* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter" sans-serif;
}

.thanks-box {
  max-width: 100rem;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.box {
  width: 20rem;
  align-self: center;
  text-align: center;
}
.button {
}
.iconic {
  height: 2rem;
  width: 2rem;
}
