* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
  /* scroll-behavior: smooth; */
  overflow-x: hidden;
}

.body {
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  font-family: sans-serif;
  overflow-x: hidden;
}

/*********************/
/* general sections */
/*********************/
.container {
  max-width: 200rem;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  text-align: center;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.animate__animated.animate__fadeInTopLeft {
  --animate-duration: 1.5s;
}

.grid {
  display: grid;
}

.grid-3cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-2cols {
  grid-template-columns: repeat(2, 1fr);
}

.primary-heading {
  margin: 1.5rem;
}

.primary-heading {
  font-size: 3.2rem;
  color: rgb(46, 46, 46);
  text-align: center;
}

.line {
  background-color: #1352ff;
  width: 4.5rem;
  margin-left: auto;
  height: 0.8rem;
  margin-right: auto;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.text {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 3rem 0 3rem;
  font-size: 2rem;

  line-height: 1.5;
  text-align: center;
  color: rgb(80, 80, 80);
}

/**********************/
/* Navbar section */
/*********************/

.navbar-head {
  /*
  

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  background-color: white; */
  display: flex;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 8rem;
  padding: 0 4.8rem;
  position: relative;
}

.main-nav-list {
  display: flex;
  list-style: none;
  gap: 4.8rem;
  align-items: center;
}

.nav-btn:link,
.nav-btn:visited {
  text-decoration: none;

  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.5rem;
  transition: all 0.4s;
  color: rgb(80, 80, 80);
}

.nav-btn:hover,
.nav-btn:active {
  color: #1352ff;
  transition: all 0.5s;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.logo-name {
  color: rgb(80, 80, 80);
  font-size: 1.9rem;
  font-weight: 700;
}

.navbar-img {
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  margin-right: 1.8rem;
}

/***********/
/* sticky navgatiom*/
/***********/
.sticky .navbar-head {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.884);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-home {
  margin-top: 9.6rem;
}

/****************/
/* Mobile nav */
/****************/
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/*********************/
/* Home section*/
/*******************/

.section-home {
  padding-top: 8rem;
  background-image: url(../img/bg.jpg);
  background-size: cover;
}

.section-home-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
  padding-bottom: 7rem;
  gap: 2rem;
}

.slide-icon {
  height: 3.7rem;
  width: 3.7rem;
  margin: 0.7rem;
  color: #222;
}

.slide-icon:hover {
  width: 3.4rem;
}

/* .home-content {
} */

.content {
  text-align: center;
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 3rem 0 3rem;
}

.main-heading {
  font-size: 5.2rem;
  color: rgb(46, 46, 46);
  font-weight: 700;
}

.home-description {
  font-size: 2.3rem;
  padding-top: 2rem;
  line-height: 1.5;
  color: rgb(80, 80, 80);
  margin: 0 auto;
  padding-bottom: 5rem;
  max-width: 85rem;
}

.btnn:link,
.btnn:visited {
  padding: 2rem 4rem;
  background-color: #1352ff;
  border: 0;
  border-radius: 1rem;
  transition: all 0.4s;
  text-decoration: none;
  font-size: 1.9rem;
  color: #fff;
}

.btnn:hover,
.btnn:active {
  color: #fff;
  background-color: #2505a5;
}

/***********************/
/* About - section*/
/**********************/

.section-about {
  padding: 5rem 0;
  background-color: #eee;
}

.about {
  margin: 0 auto;
  width: 100%;
}

.about-text-box {
  max-width: 150rem;
  margin: 0 auto;
}

.about-heading {
  margin-bottom: 3rem;
  color: #333;
  font-size: 2.5rem;
}

.about-text-description {
  margin-top: 5rem;
  width: 100%;
  text-align: justify;
  padding-left: 2rem;
}

.about-skills {
  margin-top: 5rem;
  width: 100%;
  text-align: justify;
  padding-left: 7rem;
}

.about-text {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  font-size: 1.9rem;
  line-height: 3rem;
  color: rgb(80, 80, 80);
}

.mag {
  margin-bottom: 5rem;
}

.about-btn:link,
.about-btn:visited {
  background-color: #1352ff;
  color: white;
  padding: 2rem 3rem;
  font-size: 1.9rem;
  border-radius: 1rem;
  transition: all 0.5s;
  text-decoration: none;
}

.about-btn:hover,
.about-btn:active {
  color: #fff;
  background-color: #2505a5;
}

.skills {
  padding-left: 3rem;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
}

.skills-list span {
  background-color: rgb(204, 204, 204);
  padding: 1.2rem;
  font-weight: 600;
  margin: 0.5rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  color: #333;
}

/************************/
/* Projects section  */
/**********************/

.section-projects {
  padding: 7rem 0;
  background-color: rgb(230, 227, 227);
}

.project-container {
  max-width: 200rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin: 0 auto;
}

.project-items {
  padding: 7rem 2.5rem 0 2.5rem;
  gap: 3rem;
  margin-bottom: 5rem;
}

.project-gallery {
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0 2.4rem 2.8rem rgba(0, 0, 0, 0.26);
  background-image: linear-gradient(to right top, #1352ff, #2505a5);
  transition: all 0.4s;
}

.project-gallery:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.project-img {
  width: 100%;
}

.project-description {
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.project-description button {
  padding: 0.8rem;
  background-color: white;
  outline: none;
  border: none;
  width: 13rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.project-description button a {
  text-decoration: none;
  color: #1352ff;
  font-size: 1.7rem;
  font-weight: 600;
}

.project-text {
  font-size: 1.7rem;
  font-weight: 600;
  font-family: inherit;
  line-height: 1.3;
  color: #fff;
}

.link:link,
.link:visited {
  text-decoration: none;
  color: #1352ff;
  border-bottom: 1px solid currentColor;
  display: inline-block;
  padding-bottom: 0.2rem;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #2505a5;
  border-bottom: 0.1rem solid transparent;
}

.all-project {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

/********************/
/* contact section */
/********************/

.section-cta {
  padding: 7rem 0;

  /* padding-top: 10rem; */
  /* background-image: url(img/bg.jpg);
  background-size: cover; */
}

.section-cta-container {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 1.1rem;
  background-image: linear-gradient(to right bottom, #1352ff, #2505a5);
  overflow: hidden;
  /* height: 50rem; */
}

.cta-text-box {
  color: #fff;
  padding: 4.5rem 5rem 5rem 5rem;
}
.cta .heading-secondary {
  font-size: 2.7rem;
  color: inherit;
  margin-bottom: 2.9rem;
}

.cta-text {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 4rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.3),
      rgba(230, 125, 34, 0.3)
    ),
    url("../img/daniel.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  row-gap: 2rem;
}

.cta-form label {
  display: block;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.cta-form input {
  width: 100%;
  padding: 2rem;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: inherit;
  border: none;
  /* outline: none; */
  background-color: #e9e6f6;
  border-radius: 0.8rem;
}

.message {
  width: 100%;
  padding: 1rem;
  align-self: end;
  font-family: inherit;
  font-weight: 400;
  border: none;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  height: 8rem;
  line-height: 1.1;
  resize: none;
  background-color: #e9e6f6;
}

.cta-form button {
  align-self: end;
  color: #fff;
  background-color: #747474;
  font-family: inherit;
  font-weight: 700;
  font-size: 1.8rem;
  padding: 1rem;
  border: none;
  border-radius: 0.9rem;
  margin-bottom: 0.4rem;
  transition: all 0.4s;
}

.cta-form button:hover {
  color: #1352ff;
  background-color: #fff;
}

/**********************/
/* Footer section */
/********************/

.section-footer {
  background-image: linear-gradient(to right bottom, #1352ff, #2505a5);
  color: white;
  padding: 0 3.2rem;
}

.section-footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 140rem;
  margin: 0 auto;
}

.section-footer-text {
  margin-top: 5rem;
  margin-bottom: 3.5rem;
  text-align: left;
  width: 60%;
  max-width: 50rem;
  order: 1;
}

.section-footer-text p {
  font-size: 1.7rem;
  margin-top: 1rem;
  width: 100%;
  line-height: 1.5rem;
  font-weight: 600;
}

.section-footer-icon {
  color: #fff;
  text-align: justify;
  order: 2;
  margin-top: 5rem;
  margin-bottom: 3.5rem;
}

.footer-heading {
  font-size: 1.9rem;
  padding-bottom: 3rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.footer-icon {
  width: 3rem;
  height: 3rem;
  color: #fff;
  margin: 0.7rem;
}

.footer-icon:first-child {
  margin-left: 0;
}

.line-w {
  max-width: 120rem;
  margin: 0 auto;
  padding-bottom: 3rem;
}
.line1 {
  width: 100%;
  height: 0.05rem;
  background-color: white;
}

.coppy {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  padding-bottom: 5rem;
}

.coppy a {
  text-decoration: none;
  color: #fff;
}